.results {
  display: grid;
  column-gap: 20px;
  row-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 400px));
  justify-content: center;
  margin-top: 50px;
}

button {
  padding: 10px;
  border: solid 1px #605DC8;
  background: #605DC8;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}
